@use '../abstracts/media-query' as media;
@use '../abstracts/color' as color;
@use '../abstracts/mixin' as mixin;

.picbb {
    border-radius: 50%;
    // border: 1px solid $color-turquoise;
    height: 30vh;
    width: auto;
    margin-bottom: 2rem;
    //background-color: rgba($color-turquoise, 0.5);
    background: linear-gradient(
        to bottom right,
        rgba(127, 239, 254, 0) 20%,
        // 100% de transparence au début
        rgba(127, 239, 254, 0.6) 100% // 30% de transparence à la fin
    );
    //box-shadow: 0 4px 6px rgba(127, 239, 254, 0.4);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    min-height: 100vh;
    background-image: linear-gradient(
        180deg,
        color.$color-indigo,
        color.$color-turquoise
    );

    @include mixin.frame;
    @include mixin.section;

    ul {
        padding: 0;
    }

    .tech-caroussel {
        font-family: 'Gotham Light', sans-serif;
        font-size: 1.2rem;
        opacity: 0;
        transform: translateY(10px);
        animation: fadeIn 1s ease forwards;
        color: color.$color-blue;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.about {
    row-gap: 2rem;
    padding-top: 2rem;
    // background-color: color.$color-beige;
    background-image: linear-gradient(
        180deg,
        color.$color-beige,
        color.$color-sunshine
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    @include mixin.frame;
    @include mixin.section;

    // & {
    //   padding-top: 2rem;
    //   background-color: color.$color-beige;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    // }

    h1,
    h2,
    h3 {
        color: color.$color-dark;
    }

    li,
    p {
        color: color.$color-grey;
    }

    p {
        line-height: 1.5;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .fiche {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @media (min-width: media.$from-medium) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 2rem;
        }

        .photo {
            img {
                height: 45vh;
                width: auto;

                @media (min-width: media.$from-large) {
                    width: 30vw;
                    height: auto;
                }

                @media (min-width: media.$from-big) {
                    width: 25vw;
                }

                @media (min-width: media.$from-colossal) {
                    width: 20vw;
                }
            }
        }

        // .picnow {
        //     width: 100%;
        //     height: auto;

        //     @media (min-width: media.$from-tiny) {
        //         width: 70%;
        //         margin: 0 auto;
        //     }

        //     @media (min-width: media.$from-small) {
        //         width: 30vw;
        //     }

        //     @media (min-width: media.$from-large) {
        //         width: 35vw;
        //     }

        //     @media (min-width: media.$from-big) {
        //         width: 30vw;
        //     }

        //     @media (min-width: media.$from-huge) {
        //         width: 25vw;
        //     }
        // }
    }

    .experience {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .paragraph {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            p {
                font-weight: 300;
            }

            .jobtitle {
                color: color.$color-blue;
                font-family: 'Gotham XLight', sans-serif;
                font-size: 1.7rem;
                font-weight: 900;
                line-height: 1;
                margin-bottom: 0.7rem;
            }
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            // display: grid;
            // grid-template-columns: repeat(2, 1fr);
            // row-gap: 1rem;
            // column-gap: 1rem;

            @media (min-width: media.$from-small) {
                display: grid;
                grid-template-columns: 2fr 1fr;
                row-gap: 1rem;
                column-gap: 1rem;
            }

            .perso-info {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: px;
                grid-row-gap: 16px;
                margin-bottom: 0.5rem;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 1 rem;
            }

            .degres-info {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                display: flex;
                flex-direction: column;

                h3 {
                    color: color.$color-blue;
                }

                li {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 0.2rem;
                    }
                }

                @media (min-width: media.$from-small) {
                    flex-direction: row;
                }
            }
        }
    }
}

.text-stroke {
    font-size: 1.7rem;
    font-weight: 900;
    font-family: 'Verdana', sans-serif;

    &.bg-light {
        -webkit-text-stroke: 1px color.$color-dark;
        font-kerning: normal;
        color: transparent;
    }

    &.bg-dark {
        -webkit-text-stroke: 1px color.$color-beige;
        font-kerning: normal;
        color: transparent;
    }

    @media (min-width: media.$from-micro) {
        font-size: 2rem;
    }

    @media (min-width: media.$from-tiny) {
        font-size: 3rem;
    }
}
