@use '../abstracts/color' as color;
@use '../abstracts/mixin' as mixin;

.members-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(
        180deg,
        color.$color-blue,
        color.$color-sunshine
    );
    min-height: 100vh;
    gap: 2rem;
    @include mixin.section;

    span {
        color: color.$color-indigo;
    }

    .display-member-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;

        .member-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            width: 5rem;

            p {
                text-align: center;
                word-break: break-word;
                font-size: 0.7rem;
                font-family: 'Gotham Light', sans-serif;
                color: color.$color-beige;
            }

            .member-pic {
                border-radius: 50%;
                box-shadow: 2px 2px 8px 0 rgba(255, 210, 171, 0.4);
                margin-top: 0.5rem;
            }
        }
    }
}
