@use 'media-query';

* {
    margin: 0;
    box-sizing: border-box;
    //overflow-x: hidden;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    &.no-scroll {
        overflow: hidden;
    }

    /*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

    /* Reset box-model and set borders */
    /* ============================================ */
    ::before,
    ::after {
        box-sizing: border-box;
        border-style: solid;
        border-width: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-tap-highlight-color: transparent; /* 3*/
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body.modal-open {
    background-color: rgba(255, 255, 255, 0.6) !important;
    overflow: hidden !important;

    @supports (backdrop-filter: blur(15px)) or
        (-webkit-backdrop-filter: blur(15px)) {
        backdrop-filter: blur(10px) !important;
        -webkit-backdrop-filter: blur(10px) !important;
    }
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
    margin: 0;
}

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

span {
    display: inline-block;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: inherit; /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */

small {
    font-size: 80%;
}

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
    vertical-align: bottom;
}

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
    -webkit-appearance: none; /* 1 */
    appearance: none;
    vertical-align: middle;
    color: inherit;
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: inherit;
    text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
    cursor: pointer;
}

button:disabled,
[type='button']:disabled,
[type='reset']:disabled,
[type='submit']:disabled {
    cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
    outline: auto;
}

select:disabled {
    opacity: inherit;
}

/**
* Remove padding
*/

option {
    padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/

textarea {
    overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

/**
  * Correct the outline style in Safari.
  */

[type='search'] {
    outline-offset: -2px; /* 1 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/**
* Fix appearance for Firefox
*/
[type='number'] {
    -moz-appearance: textfield; /* Pour Firefox */
    -webkit-appearance: none; /* Pour Chrome, Safari, et les autres basés sur Webkit */
    appearance: none; /* Propriété standard */
}

/**
* Clickable labels
*/

label[for] {
    cursor: pointer;
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
* Add the correct display in all browsers.
*/

summary {
    display: list-item;
}

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
    border-color: inherit; /* 1 */
    border-collapse: collapse;
}

caption {
    text-align: left;
}

td,
th {
    vertical-align: top;
    padding: 0;
}

th {
    text-align: left;
    font-weight: bold;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

$ease: cubic-bezier(0.165, 0.74, 0.44, 1);
