$color-white: #fff;
$color-dark: #232323;
$color-grey: #6c757d;

$color-turquoise: #7feffe; //127, 239, 254
$color-indigo: #471eb3; //71, 30, 179
$color-blue: #1f5aff; //31, 90, 255
$color-navy: #0f0f4d; //15, 15, 77
$color-beige: #fffbfb; //255, 251, 251
$color-sunshine: #ffd2ab; //255, 210, 171
$color-warm: #fe4c4c; //254, 76, 76
