$color-white: #fff;
$color-dark: #232323;

$color-gray-1: #626262;
$color-gray-2: #a8a8a8;
$color-lightgray: #f8f8fa;
$color-gray-bg: #f0f0f3;

$color-fushia: #ff00d9;
$color-turquoise: #00f7ff;
$color-indigo: #4f11f7;
$color-navy: navy;
$color-beige: #f0e6d2;
$color-orange: #fe8007;
$color-yellow: #ffd600;

$color-green-1: #3cc121;
$color-green-2: #268c14;
$color-green-3: #1f5d17;
