$color-white: #fff;
$color-dark: rgb(35, 35, 35);
$color-darkGrey: rgb(71, 76, 80);
$color-grey: rgb(108, 117, 125);

$color-turquoise: rgb(127, 239, 254); //127, 239, 254
$color-indigo: #471eb3; //71, 30, 179
$color-blue: rgb(31, 90, 255); //31, 90, 255
$color-navy: rgb(15, 15, 77); //15, 15, 77
$color-beige: rgb(255, 251, 251); //255, 251, 251
$color-sunshine: rgb(255, 210, 171); //255, 210, 171
$color-warm: #fe4c4c; //254, 76, 76
$color-green: oklch(0.527 0.154 150.069);

$color-nav: rgb(75, 40, 183);
