@use '../abstracts/color' as color;
@use '../abstracts/mixin' as mixin;

.form-frame {
    padding: 2rem;
    //background-color: color.$color-beige;
    background-image: linear-gradient(
        180deg,
        color.$color-sunshine,
        color.$color-beige
    );
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow:
        0 4px 8px 0 rgba(31, 90, 255, 0.2),
        0 6px 20px 0 rgba(31, 90, 255, 0.19);

    .form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        span {
            color: color.$color-indigo;
        }

        a {
            font-family: 'Gotham Light', sans-serif;
            &:hover {
                color: color.$color-indigo;
            }
        }

        .labels {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .label {
                display: flex;
                flex-direction: column;
                font-family: 'Gotham book', sans-serif;
                color: color.$color-dark;
            }

            input {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid color.$color-grey;
                border-radius: 4px;
                box-sizing: border-box;
            }
        }
    }
}

.form-validation {
    display: flex;
    justify-content: center;

    .btn-disabled {
        background: #ddd;
        color: #999;
        // cursor: not-allowed;
    }
}
