@use '../abstracts/color' as color;
@use '../abstracts/mixin' as mixin;

.modal-container {
    position: fixed;
    z-index: 1001;
    background-color: color.$color-blue;
    padding: 4rem;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: calc(100vh - 32px);
    overflow-y: auto;
    backdrop-filter: none !important;

    &.scroll {
        top: 16px;
    }

    &:not(.scroll) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        .close-modal {
            align-self: flex-end;
            margin-bottom: 1rem;
            border: 0;

            svg {
                color: color.$color-beige;
            }
        }

        h2 {
            font-size: 1.6rem;
        }
    }

    .profil-section {
        display: flex;
    }
}
